<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chartacaeli/org/chartacaeli/FieldOfView.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="GS_FONTPATH" value="${project_loc}"/>
<mapEntry key="PATH" value="org\chartacaeli\caa;org\chartacaeli\gpu;..\pj2aws\pj2\lib;c:\program files\cygwin\usr\x86_64-w64-mingw32\sys-root\mingw\bin;c:\program files\gs\gs9.25\bin;c:\program files\imagemagick-7.0.8-q16"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.chartacaeli.FieldOfView"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;viewer=gswin64c.exe -dBATCH -dNOPAUSE -q -&quot; &quot;LINESTRING (-140 130, 130 130, 130 -130, -140 -130, -140 130)&quot; &quot;LINESTRING (-80 160, 80 160, 80 -160, -80 -160, -80.005 160.005)&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chartacaeli"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=logging.properties"/>
</launchConfiguration>
