# eclipse
.settings/
.classpath
.project
# downloads
*.tar
*.zip
*.gz
Blocks-4.1.0.txt
# artefacts
chartacaeli/UnicodeBlock.java
chartacaeli/caa/**
!chartacaeli/caa/Makefile
!chartacaeli/caa/README.md
chartacaeli/gpu/tst/**
!chartacaeli/gpu/tst/*Test.java
chartacaeli/model/
*.class
*.dll
*.exe
*.jar
*.o
*.so
