# eclipse
.settings/
.classpath
.project
# downloads
*.tar
*.zip
*.gz
Blocks-4.1.0.txt
# artefacts
Makefile.d
caa/
!caa/Makefile
!caa/README.md
chartacaeli/UnicodeBlock.java
chartacaeli/model/
gpu/*.cxx
gpu/*.h
*.class
*.dll
*.exe
*.jar
*.o
*.so
