<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/chartacaeli/chartacaeli/ChartaCaeli.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="GS_FONTPATH" value="c:/users/jschuck/src/chartacaeli"/>
<mapEntry key="PATH" value="chartacaeli\caa;chartacaeli\gpu;..\pj2aws\pj2\lib;c:\program files\gs\gs9.07\bin;%PATH%"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chartacaeli.ChartaCaeli"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="lab/variables-and-expressions.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="chartacaeli"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dchartacaeli.app=chartacaeli&#13;&#10;-Xcheck:jni&#13;&#10;-Xmx1024m"/>
</launchConfiguration>
